{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block body %}

	<article>
	
		<div class="container text-center text-light">
			<h2 class="mt-5 mb-3"> Dzięki tej aplikacji z dużą łatwością zapanujesz nad swoim budżetem domowym. Oto kilka cytatów, które zmotywują Cię do oszczędzania: </h2>
			
			<div class="mt-5 bg-success p-2" style="--bs-bg-opacity: .5;">
				 <h3>Ayn Rand  -amerykańska pisarka i filozof:</h3> <br/>
				<i class="lead">„Jest tylko jeden sposób, który pozwoli ci zostać bogatym człowiekiem: wydawaj mniej, niż zarabiasz, a różnicę inwestuj” </i>
			</div>
			
			<div class="mt-3 bg-success p-2" style="--bs-bg-opacity: .5;">
				 <h3>Warren Buffett - amerykański inwestor giełdowy,przedsiębiorca i filantrop: </h3><br/>
				<i class="lead"> „Jeśli kupujesz rzeczy, których nie potrzebujesz, wkrótce będziesz musiał sprzedawać rzeczy, które są ci niezbędne” –  </i>
			</div>
			
			<div class="mt-3 bg-success p-2" style="--bs-bg-opacity: .5;">
				<h3> Clare B. Luce - amerykańska pisarka, polityk, ambasador USA: </h3><br/>
				<i class="lead"> „Szczęścia nie można kupić za pieniądze, ale pieniądze mogą zapewnić niesamowity komfort w czasach nieszczęścia”   </i>
			</div>
			
			<div class="mt-3 bg-success p-2" style="--bs-bg-opacity: .5;">
				<h3> Kamila Rowińska - dyplomowany coach,  trenerka, master facilitator oraz inwestorka:</h3> <br/>
				<i class="lead"> „Chcąc osiągnąć stabilizację finansową, musisz zmienić nawyki! Oszczędzanie i inwestowanie nie zaczyna się wtedy, gdy już kupisz wszystko, czego pragniesz”  </i>
			</div>
			
		</div>
		
	</article>
	
{% endblock %}