{% extends "base.html" %}

{% block title %}Menu{% endblock %}
{% block footer %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src ="/js/chart.js" ></script>
<script type="text/javascript" src ="/js/balance.js" ></script>
<script type="text/javascript" src ="/js/Incomes.js" ></script>
<script type="text/javascript" src ="/js/Expenses.js" ></script>
<script type="text/javascript" src ="/js/deleteIncome.js" ></script>
<script type="text/javascript" src ="/js/deleteExpense.js" ></script>

{% endblock %}
{% block body %}
	
	<article>
		
		<div class="container  col-12 col-lg-12 mb-3  text-light">
		
				
				<h5 class="h3 mx-auto text-center text-uppercase bg-success mt-3 col-6 "> Przychody </h5>
			<div class="mb-3 col-8 col-lg-6 d-flex d-flex-row mx-auto" >	
			<div class="mb-3 d-flex justify-content-between">		
			
				<table class ="table  bg-success table-striped table-bordered border-dark" cellpadding ="2" border =2  >
						<thead class="thead-dark">
						<th class ='text-center '>KATEGORIA</th>
						<th class ='text-center '>Suma [PLN]</th>
						</thead>
						{% set totalsumincomes=0 %}
						{% for income in userIncomes %}
						
							<tr class="table-success table-bordered border-dark">
							<td class ='text-center fw-bold'>{{income.name}}</td>
							<td class='text-center  fw-bold'>{{income.sum}}</td>
							
							{% set totalsumincomes = totalsumincomes + income.sum %}
							<td class='text-center fw-bold'><button class="btn incomeButton" value="{{income.name}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 	fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
								</svg></button>
							</td>
							</tr>
								
							{% endfor %}
							<tr>
						<td  class ='text-center'><h5>SUMA</h5></td>
						<td class='text-center' id='incomessum'><h5>{{totalsumincomes|number_format(2, '.', '')}}</h5></td>
						</tr>
				</table>
			</div>	
			<div class="mb-3 d-flex justify-content-between" id="allIncomes"> 
			</div>
		</div>	
				
			<h5 class="h3 mx-auto text-center text-uppercase bg-success mt-3 col-6"> Wydatki </h5>
				
			<div class="mb-3 col-8 col-lg-6 d-flex d-flex-row mx-auto" >	
			<div class="mb-3 d-flex justify-content-between">
				 <table class ="table bg-success table-striped table-bordered border-dark" cellpadding ="2" border =2 id="myTable">
						<thead class="thead-dark">
							<th class ='text-center '>KATEGORIA</th>
							<th class ='text-center '>Suma [PLN]</th>
						</thead>
						
						{% set totalsumexpense=0 %}
						{% for expense in userExpenses %}
						
						<tr class="table-success table-bordered border-dark">
							<td class='text-center fw-bold' >{{expense.name}}</td>
							<td class='text-center fw-bold'>{{expense.sum}}</td>
							{% set totalsumexpense = totalsumexpense + expense.sum %}
							<td class='text-center fw-bold'><button class="btn expenseButton"  value="{{expense.name}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" 	height	="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
								</svg></button>
							</td>
						
						</tr>								
						{% endfor %}
						
						<tr>
							<td  class='text-center'><h5>SUMA</h5></td>
							<td class='text-center' id='expensessum'><h5>{{totalsumexpense|number_format(2, '.', '')}}</h5></td>
						</tr>
				</table>
			
			</div>
		
		<div class="mb-3 d-flex justify-content-between" id="allExpenses"> 
		</div>
		</div>
				
					<div class= "bg-success border border-dark mx-auto" style="--bs-bg-opacity: .75; width: 700px; height: 300px;" id="piechart"></div>
				
				
			<div class="text-center mt-5 text-uppercase fs-5 fw-bold"id ="balance"></div>
				
			
		
	
		
	</article>
	
	{% endblock %}