{% extends "base.html" %}

{% block title %}Edit{% endblock %}
{% block footer %}
    <script src="/js/hideShowPass.js"></script>
	
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
			
			var userId = '{{ user.id }}' ;
           
            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
							url:'/account/validate-email',
							data: {
								ignore_id: function(){
								return userId;
								}
							}
						}
                    },
                    password: {
                        minlength: 6,
                        validPassword: true						
                    }
                },
                messages: {
					password: {
						minlength: 'Hasło musi składać się z co najmniej 6 znaków',
						validPassword: 'Hasło musi zawierać co najmniej 1 literę oraz cyfrę'
					},	
                    email: {
                        required: 'Email jest wymagany',
						email: 'Wprowadź poprawny format adresu email',
                        remote: 'Email jest już zajęty'
                    },
					name: {
						required: "Nazwa użytkownika jest wymagana"
					}					
                }
            });
           
        });
    </script>

{% endblock %}
{% block body %}

	<main>
	<div class="container align-middle text-light">	

	
			<form method="post" action="/setting/update" id="formProfile" class="bg-success p-4 w-50 mx-auto mt-5 " style="--bs-bg-opacity: .5;">
				<h2 class="h3 text-center mb-3"> Edycja danych konta </h2>
				<div class=" form-group col-sm-8 col-lg-6 mb-3  mx-auto">
					<label for="inputName" class="form-label">  Nazwa użytkownika: </label>
					<input type ="text" class="form-control" value="{{ user.username }}" id="inputName" name="name" required >		
				</div>
				
				<div class="form- group col-sm-8 col-lg-6 mb-3 w-md-50 mx-auto" >
					<label for="inputEmail" class="form-label"> Email: </label>
					<input type ="text" class="form-control" id="inputEmail" value="{{ user.email }}" name="email" required>
				</div>
				
				
				<div class="form-group col-sm-8 col-lg-6 mb-3 w-md-50 mx-auto" >
					<label for="inputPassword" class="form-label"> Hasło: </label>	
						<input type ="password" class="form-control" id="inputPassword" name="password" aria-describedby="helpBlock"/>
						<span id="helpBlock">Pole nie jest wymagane jeżeli chcesz zachować dotychczasowe hasło</span>						
				</div>
				
				
				<div class="form-group col-sm-8 col-lg-6 mb-3 w-md-50 mx-auto" >
					<input type="checkbox" class="form-check-input" role="switch" id="btncheck" onclick="HideShowPass()">
					<label class="form-check-label" for="btncheck">Pokaż hasło</label>
				</div>
				
				
				<div class="text-center">
					<input type="submit" class="btn btn-success mx-auto " value="Zapisz zmiany"/>
					<a href="/menu/settings"><div class="btn btn-secondary mx-1"> Anuluj</div></a>
				</div>
				
				
				{% if user.errors is not empty %}
				<p>Błędy:</p>
				<ul>
					{% for error in user.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</form>
			
				
	</div>
		
			
		
	</main>

{% endblock %}